body {
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg.jpg);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1420px;
    }
}

/*Верхнее меню*/

.navbar-main .nav-item:hover {
    background-color: #24629C; /* add background-color to active links */
}

/*Боковое меню*/
li.border-fullside {
    padding-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover {
    background-color: #3A89D2; /* add background-color to active links */
}

/*Нижняяя панель*/
.site-footer {
    border-top: 3px solid rgba(58, 137, 210, .8);
    padding-top: 20px;
    padding-bottom: 20px;
}

