<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container bg-light" style="padding-top: 50px; padding-bottom: 25px; min-height:150%">
        <div class="row">
            <div class="col-lg-3 text-left">
                <a asp-controller="home" asp-action="index">
                    <img width="300" alt="logo.png" src="/images/logo.png" title="logo.png">
                </a>
            </div>
            <div class="col-lg-6">
                <div style="margin-top: 25px">
                    <form class="form-inline my-2 my-lg-0 justify-content-center">
                        <input class="form-control mr-sm-2" type="text" placeholder="Поиск" size="50" name="search" id="search" aria-label="Search">
                        <button class="btn btn-outline-dark border-dark" type="submit" asp-action="BooksCollection" asp-controller="Library">Найти</button>
                    </form>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-2">
                <ul class="list-unstyled text-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="margin-top: 10px">
                            <a asp-controller="account" asp-action="logout">
                                <input type="button" class="btn btn-block btn-outline-secondary border-dark" value="Выйти">
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="account" asp-action="login">
                                <input type="button" class="btn btn-block btn-outline-secondary border-dark" value="Войти">
                            </a>
                        </li>
                        <li style="margin-top: 10px">
                            <a asp-controller="account" asp-action="register">
                                <input type="button" class="btn btn-block btn-outline-secondary border-dark" value="Регистрация">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <nav class=" navbar-main navbar-expand-sm navbar-dark py-0" style="background-color: #3A89D2">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav w-100 nav-justified" style="font-size: 16pt">
                    <li class="nav-item active">
                        <a class="nav-item nav-link active" asp-action="booksCollection" asp-controller="library">Библиотека</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-item nav-link active" asp-action="list" asp-controller="authors">Авторы</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="profile" asp-controller="home">Профиль</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row" style="padding-top: 20px">
            <div class="col-md-3">
                <nav class="nav navbar-custom navbar-light">
                    <ul class="navbar-nav" style="width: 100%">
                        <li class="nav-item border-fullside text-light text-center" style="background-color: #3A89D2;"><h4 class="active">Категории</h4></li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="8">Боевики</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="3">Детективы</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="7">Драма</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="10">Исторический роман</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="6">Классика</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="9">Научная фантастика</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="2">Приключения</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="5">Романтика</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="4">Триллеры</a>
                        </li>
                        <li class="nav-item border-fullside left-menu-hover">
                            <a class="nav-link active" asp-controller="categories" asp-action="list" asp-route-id="1">Фэнтези</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">                
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container bg-light card-footer site-footer">
        &copy; 2021 - Library - <a asp-area="" asp-controller="Home" asp-action="Index">Домашняяя страница</a>
    </div>
</body>
</html>