@using WebLibrary.Services;
@using WebLibrary.Models.Books;
@model WebLibrary.ViewModels.Books.BookModel;
@{
    ViewBag.Title = "Добавление книги";
    SelectList genreTypes = new SelectList(TempData.Peek<IEnumerable<Genre>>("GenreTypes"), "Id", "Name");
}
<form asp-action="addBook" asp-controller="library">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Год выпуска</label>
        <input type="number" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label">Жанр</label>
        <select asp-for="Genre" class="form-control" asp-items="genreTypes"></select>
        <span asp-validation-for="Genre"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label">Автор книги</label>
        <input type="text" asp-for="Author" class="form-control" />
        <span asp-validation-for="Author"></span>
    </div>
    <div align="center" class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default border-dark" />
    </div>
</form>