.container {
    background-color: white;
}

.img-sm {
    width: 46px;
    height: 46px;
    margin-right: 10px;
}

.panel:first-child {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel-body {
    padding-top: 25px;
    padding-left: 15px;
}

.media-block .media-left {
    display: block;
    float: left;
}

.text-muted,
a.text-muted:hover,
a.text-muted:focus {
    color: #acacac;
}

.text-sm {
    font-size: 0.9em;
}

.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
    line-height: 1.25;
}
